/* index.css */

@import 'variables.css';

.App {
  text-align: center;
  padding: 20px;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-page);
  color: var(--text-color);
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--grid-gap);
  padding: var(--grid-gap);
}

.card {
  background-color: var(--card-background);
  color: var(--text-color);
  border-radius: var(--border-radius);
  transition: transform var(--transition-speed) ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: var(--card-min-height);
  max-width: 100px !important;
}

.cardContent {
  background-color: var(--card-background);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px var(--card-hover-shadow);
}

.cardMedia {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.cardContent .MuiTypography-root {
  text-align: left;
  justify-content: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  width: 100%;
}

.cardButton {
  color: var(--button-color);
}
